<div id="<%= dom_id like %>">
  <% if action_name != "show" %>
    <%= link_to "Show this like", like, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this like', edit_like_path(like), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
