<div class="inline-block text-center">
  <h1 class="text-3xl text-extrabold">Welcome to Recipe Box!</h1>
  <p class="text-xl text-bold">As you can see, things are pretty sparse right now. This app is
    currently getting some much-needed TLC, so please be patient!
  </p>
</div>
